@charset "utf-8";


/** -------------------- media ----------------------------- **/
@media all and (max-width: 320px){
	#container.qBoard ul li .label{width: 75px !important;}
	#container.qBoard ul li .select_box, #container.qBoard ul li .input_box, #container.qBoard ul li .data{width: calc(100% - 85px) !important;}
	#container.myPage ul.userInfo dl dt{padding-left:10px !important;}
	#container.myPage ul.userInfo dl dd{width: calc(100% - 68px) !important;}
	
	#container.qBoard .footer .btn_save:after{right: -18px !important; -webkit-transform: scale(0.30) !important; -o-transform: scale(0.30) !important; -ms-transform: scale(0.30) !important; transform: scale(0.30) !important;}
	#container.board-com .board-com-head > div{font-size: 15px !important;}
	#container.board-com .board-com-list > div{font-size: 14px !important;}
}
@media all and (min-width: 321px) and (max-width: 360px) {
	#container.qBoard ul li .label{width: 75px !important;}
	#container.qBoard ul li .select_box, #container.qBoard ul li .input_box, #container.qBoard ul li .data{width: calc(100% - 85px) !important;}
	#container.myPage ul.userInfo dl dt{padding-left:10px !important;}
	#container.myPage ul.userInfo dl dd{width: calc(100% - 68px) !important;}
	
	#container.qBoard .footer .btn_save:after{right: -15px !important; -webkit-transform: scale(0.33) !important; -o-transform: scale(0.33) !important; -ms-transform: scale(0.33) !important; transform: scale(0.33) !important;}
}
@media all and (min-width: 361px) and (max-width: 410px) {
	#container.qBoard ul li .label{width: 75px !important;}
	#container.qBoard ul li .select_box, #container.qBoard ul li .input_box, #container.qBoard ul li .data{width: calc(100% - 85px) !important;}
	#container.myPage ul.userInfo dl dt{padding-left:10px !important;}
	#container.myPage ul.userInfo dl dd{width: calc(100% - 68px) !important;}
}
@media all and (min-width: 1024px){
	#container.qBoard ul li select{background-size: 4% !important; background-position: 98% 50% !important;}		
}
@media all and (max-height: 570px) {
	#container.qBoard ul li .label{min-height: 40px !important;}
	#container.qBoard ul li select,#container.qBoard ul li input,#container.qBoard ul li .data{min-height: 40px !important;}
	#container.qBoard ul li textarea{height: 220px !important;}
}				
@media all and (min-height: 570px) and (max-height: 640px) {
	#container.qBoard ul li .label{min-height: 40px !important;}
	#container.qBoard ul li select,#container.qBoard ul li input,#container.qBoard ul li .data{min-height: 40px !important;}
	#container.qBoard ul li textarea{height: 290px !important;}
}

@media all and (min-height: 641px) and (max-height: 730px) {
	#container.qBoard ul li textarea{height: 290px !important}
}

/* body{background: url(image/mobile/guide_20.jpg) no-repeat 50% 0px;} */
header.myPage{ background-color: #4bbeff;}
header.qBaord{ background-color: #4bbeff;}
#container.myPage{position:relative; float:left; padding: 10px 10px 10px 10px; width:calc(100% - 20px); min-height: calc(100% - 65px); background: #f3f3f3; }
#container.myPage .wrap{position:relative; float:left;  width:100%; height: 100%; }
#container.myPage ul.boxWrap{position:relative; float:left; width: 100%; margin-top: 4px; padding-bottom:8px; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; box-sizing: border-box;}
#container.myPage ul li{position:relative; width:calc(100% - 16px); margin: 0 8px; float: left;}
#container.myPage ul.boxWrap .tit{height: 45px; border-bottom:1px solid #e6e6e6;}
#container.myPage ul.boxWrap .tit .txt{position:relative;  width: calc(100% - 10px); height:24px; padding:13px 0 8px 10px;  float: left; color:#444444; font-size: 17px; font-weight: bold;}
#container.myPage ul.userInfo .tit .txt{width: calc(100% - 140px);}
#container.myPage ul.userInfo .tit .btn{position:relative; width: 130px; float: left; padding:7px 0px 7px 0px; }
#container.myPage ul.userInfo .tit .btn .btn_type{position:relative; width: 100%; height: 31px; background-color: #4bbeff; border-radius: 6px; color:#ffffff; font-size: 15px; font-weight: bold;}
#container.myPage ul.userInfo .tit .btn .btn_type{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.myPage ul.userInfo .tit .btn .btn_add{position:relative; width: 25px; height: 25px; margin-left:8px;  overflow: hidden;}
#container.myPage ul.userInfo .tit .btn .btn_add:after{position:relative; display:inline-block;  top:0px; left:0px; content:url(image/mobile/icon_add_plus_sky.png); width: 72px; height: 72px; -webkit-transform: scale(0.33); -o-transform:scale(0.33); -ms-transform:scale(0.33); transform:scale(0.33); transform-origin:0 0;  -o-transform-origin:0 0; -webkit-transform-origin:0 0; -ms-transform-origin:0 0;}
#container.myPage ul.userInfo .user{height: 68px; border-bottom: 1px solid #e6e6e6; padding-bottom: 25px; margin-bottom:10px }
#container.myPage ul.userInfo .user .userName{position:relative; width: 100%; height: 48px; float: left; text-align: center; font-size: 24px; font-weight: bold; color:#666666;}
#container.myPage ul.userInfo .user .userName{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.myPage ul.userInfo .user .eMail{position:relative; width:100%; float:left; font-size: 15px; font-weight: bold; text-align: center; height: 22px;}
#container.myPage ul.userInfo .user .eMail span:nth-child(1) {color:#4bbeff; margin-right: 5px;}
#container.myPage ul.userInfo .user .eMail .mail_addr{color:#666666;}
#container.myPage ul.userInfo li.data{margin: 6px 8px;}
#container.myPage ul.userInfo li.multi dl{width: calc(100% - 110px);}
#container.myPage ul.userInfo li.multi .btn_type{width: 100px; height:35px; background-color:#ffffff; color:#4bbeff; border:1px solid #4bbeff; box-sizing: border-box; font-size: 14px; font-weight: bold; float:right;}
#container.myPage ul.userInfo li.multi .btn_type{display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.myPage ul.userInfo dl{display:inline-block; width: 100%; height:100%; float: left;}
#container.myPage ul.userInfo dl dt{width:58px; height: 35px; padding-left:15px; color:#4bbeff; font-size:14px; font-weight:bold;  float: left;}
#container.myPage ul.userInfo dl dt{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center;}
#container.myPage ul.userInfo dl dd{ width:calc(100% - 73px); height: 35px;  color:#666666; float: left; word-break: break-word; white-space: pre-line; font-size: 16px; font-weight:bold; text-align: center; float: left; }
#container.myPage ul.userInfo dl dd{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center;}
#container.myPage ul.userInfo .row2 dl{width: 50%;}
#container.myPage ul.userInfo dd input{width:100%; border:none; height:100%; outline: none; color:#666666; font-size:16px;}
#container.myPage ul.add_loginType,
#container.myPage ul.board_list{margin-top: 8px;  }
#container.myPage ul.add_loginType .array{position:relative; width: calc(100% - 23px); margin: 15px 8px 5px 15px; }
#container.myPage ul.add_loginType .type{position:relative; width:70px; height: 85px; margin:0 5px; float:left; color:#666666; font-size: 17px; font-weight: bold;}
#container.myPage ul.add_loginType .type .icon{position:relative; width:100%; height: 60px; overflow: hidden; margin-bottom: 3px;}
#container.myPage ul.add_loginType .type .txt{width: 100%; text-align: center; height: 24px;}
#container.myPage ul.add_loginType .type .icon:after{position:absolute; top:13px; display:inline-block; -webkit-transform: scale(0.33); -o-transform:scale(0.33); -ms-transform:scale(0.33); transform:scale(0.33); transform-origin:0 0;  -o-transform-origin:0 0; -webkit-transform-origin:0 0; -ms-transform-origin:0 0;}
#container.myPage ul.add_loginType .finger .icon:after{content:url(image/mobile/icon_myPage_finger.png); width: 96px; height: 96px; left: 18px; }
#container.myPage ul.add_loginType .pattern .icon:after{content:url(image/mobile/icon_myPage_pattern.png); width: 94px; height: 98px; left: 19px;}
#container.myPage ul.add_loginType .password .icon:after{content:url(image/mobile/icon_myPage_password.png); width: 110px; height: 98px; left: 16px;}
#container.myPage ul.add_loginType .certificate .icon:after{content:url(image/mobile/icon_myPage_certificate.png); width: 77px; height: 102px; left: 22px;}

#container.myPage ul.board_list .tit{margin: 0 8px 5px 8px;}
#container.myPage ul.board_list .tit .txt{ width: calc(100% - 120px);}
#container.myPage ul.board_list .tit .btn{position: relative; width: 110px; float: left; padding: 7px 0px 7px 0px;}
#container.myPage ul.board_list .tit .btn .btn_type{position:relative; width: 100%; height: 31px; background-color: #4bbeff; border-radius: 6px; color:#ffffff; font-size: 15px; font-weight: bold;}
#container.myPage ul.board_list .tit .btn .btn_type{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.myPage ul.board_list .board_item{margin:5px 8px;}
#container.myPage ul.board_list .board_item .text{position:relative; display:inline-block; width: calc(100% - 100px); padding: 7px 5px 0 20px; float:left}
#container.myPage ul.board_list .board_item .board_tit{position:relative; width: 100%; height:27px; float:left; line-height: 27px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#container.myPage ul.board_list .board_item .date{position:relative; width: 100%; height:18px; float:left; }
#container.myPage ul.board_list .board_item .date{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center;}
#container.myPage ul.board_list .board_tit{color:#666666; font-weight: bold; font-size: 15px; }
#container.myPage ul.board_list .date{color:#9d9d9d; font-weight: bold; font-size: 13px; }
#container.myPage ul.board_list .state{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.myPage ul.board_list .state{position:relative; width:75px; height: 30px; font-size:13px; font-weight:bold; margin-top: 11px; border:1px solid red; box-sizing: border-box; float:right;}
#container.myPage ul.board_list .state.waiting{border:1px solid #b1b2b2; }
#container.myPage ul.board_list .state.waiting:after{content:"답변대기"; display: inline-block; color:#b1b2b2; }
#container.myPage ul.board_list .state.complete{border:1px solid #4bbeff; }
#container.myPage ul.board_list .state.complete:after{content:"답변완료"; display: inline-block; color:#4bbeff; }

/***************************** 문의게시판 *****************************/
#container.qBoard{position: relative; float: left; /* height: calc(100% - 65px); */ min-height: calc(100% - 65px); background: #f3f3f3; }
#container.qBoard .wrap{height: 100%;}
#container.qBoard ul{position: relative; width: calc(100% - 20px); margin: 12px 10px 10px 10px;  float:left; background-color: #ffffff; border: 1px solid #dddddd; border-radius: 4px; box-sizing: border-box;}
#container.qBoard ul.view{min-height:calc(100% - 95px); }
#container.qBoard.comment ul.view{min-height: 50%;}
#container.qBoard ul li{position:relative; width: calc(100% - 20px); float:left; padding:0px 10px 0px 10px; margin-bottom: 7px;}
#container.qBoard ul li.type{padding:15px 10px 0px 10px;}
#container.qBoard ul li .label{width:90px; min-height: 50px; float:left; padding-left:10px; color:#444444; font-size: 17px; font-weight: bold;}
#container.qBoard ul li .label,
#container.qBoard ul li div.data{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center;}
#container.qBoard ul li div.data{width: calc(100% - 100px); min-height: 50px; float: left; font-size: 18px; color:#333333; font-weight: bold; line-height: 22px;}
#container.qBoard ul li .select_box,
#container.qBoard ul li .input_box{width: calc(100% - 100px); height: 100%; float: left;}
#container.qBoard ul li select{width: 100%; min-height: 50px; color:#4bbeff; font-size:18px; font-weight:bold; padding-left:10px; background-color:#ebf2f5; box-sizing: border-box; border:1px solid #4bbeff; border-radius: 5px; outline: none;}
#container.qBoard ul li select{-webkit-appearance: none; -moz-appearance: none; appearance: none; background-size:10%;  background-image: url('image/mobile/select_arrow.png'); background-repeat: no-repeat; background-position: 95% 50%}
#container.qBoard ul li select:focus{background-color:#ebf9ff; border:1px solid #00a9e9; background-image: url('image/mobile/select_focus_arrow.png'); }
#container.qBoard ul li select::-ms-expand { display: none; }
#container.qBoard ul li input{width: 100%; min-height: 50px; color:#b8b8b8; font-size:18px; font-weight:bold; padding-left:5px; background-color:#ffffff; box-sizing: border-box; border:1px solid #b2b2b2; border-radius: 5px; outline: none;}
#container.qBoard ul li input::placeholder{color:#b8b8b8;}
#container.qBoard ul li.textarea{margin-top: 15px;}
#container.qBoard ul li textarea{width: calc(100% - 15px); height:380px; color:#b8b8b8; font-size: 18px; font-weight:bold; outline: none; padding:0 0 0 15px; border: none; line-height: 25px;}
#container.qBoard ul li textarea::placeholder{color:#b8b8b8;}
#container.qBoard ul li.attach img{width: 100%;}
#container.qBoard ul li .btn_attachFile{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;} 
#container.qBoard ul li .btn_attachFile{width: 100%; height:46px; background-color: #ceedff; border-radius: 20px; font-size: 17px; font-weight: bold; color:#666666;}
#container.qBoard ul li .btn_attachFile .icon{width: 29px; height:24px; overflow: hidden; margin-right: 8px;}
#container.qBoard ul li .btn_attachFile .icon:after{position:absolute; content:url(image/mobile/icon_attachFile.png); display:inline-block; width:87px; height:72px; display:inline-block; -webkit-transform: scale(0.33); -o-transform:scale(0.33); -ms-transform:scale(0.33); transform:scale(0.33); transform-origin:0 0; -o-transform-origin:0 0; -webkit-transform-origin:0 0; -ms-transform-origin:0 0;}
#container.qBoard ul.view .type{background-color: #dcebf6; margin-bottom: 0px;}
#container.qBoard ul.view .tit{background-color: #dcebf6;}
#container.qBoard ul.view .textarea{ width: calc(100% - 40px); margin: 18px 15px 5px 25px; padding: 0; font-size: 17px; color:#333333; line-height: 30px; letter-spacing: 0.2px;}
#container.qBoard ul.comment{position:relative; min-height:calc(50% - 75px); float:left; background-color:#d6d9dc; margin: 0px 10px 10px 10px; padding: 15px;}
#container.qBoard ul.comment .tit div{width:70px; height:28px; color:#ffffff; font-size: 15px; font-weight:bold; background-color:#4bbeff;}
#container.qBoard ul.comment .tit div{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.qBoard ul.comment .con{color:#333333; font-size: 17px; line-height: 30px;}


#container.qBoard .footer{position: relative; width: 100%; height: 75px; float: left;}
#container.qBoard .footer .btn_type{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.qBoard .footer.type2 .btn_type{width: 50%;}
#container.qBoard .footer .btn_type{width: 100%; height: 75px; color: #ffffff; float: left; font-size: 19px; letter-spacing: 1px; border-radius: 0 !important;}
#container.qBoard .footer .btn_type.btn_cancel,
#container.qBoard .footer .btn_type.btn_edit{ background-color: #e4f5ff; color: #00a3ff; border: 1px solid #00a3ff; box-sizing: border-box;}
#container.qBoard .footer .btn_type.btn_cancel:before{display: inline-block; position: absolute; left: 0px; top: 6px; content: url(image/mobile/btn_foot_arrow.png); width: 65px; height: 60px; -webkit-transform: scale(0.35); -o-transform: scale(0.35); -ms-transform: scale(0.35); transform: scale(0.35);}
#container.qBoard .footer .btn_type.btn_save,
#container.qBoard .footer .btn_type.btn_listView{background-color: #00a3ff;}
#container.qBoard .footer .btn_type.btn_del{background-color: #999999; border: 1px solid #999999; box-sizing: border-box;}
#container.qBoard .footer .btn_save:after{display: inline-block; position: absolute; right: -10px; content: url(image/mobile/icon_check_white.png); width: 104px; height: 104px; -webkit-transform: scale(0.35); -o-transform: scale(0.35); -ms-transform: scale(0.35);   transform: scale(0.35);}


/************************* 게시판 목록 ***********************************/
#container.qBoard ul.board-list{background-color:#ffffff; width:calc(100% - 20px); margin:13px 10px 0 10px; border-radius:5px; display: flex; display: -ms-flex; display: -webkit-flex; flex-direction: column; }
#container.qBoard ul.board-list li.title{position:relative; width: calc(100% - 24px); height: 45px; margin: 0 8px 3px 8px; padding:0 0 0 8px; font-size:17px; font-weight:bold; color:#444444; float: left; border-bottom: 1px solid #e6e6e6;}
#container.qBoard ul.board-list li.title{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center;}
#container.qBoard ul.board-list li:not(.title){width: calc(100% - 20px); margin:0 10px; padding:0px; border-bottom: 1px solid #e1e1e1; display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; flex-direction: column;}

#container.qBoard ul.board-list input[type=checkbox]{box-sizing: border-box; padding: 0; display: none !important;}
#container.qBoard ul.board-list input[type=checkbox]:checked + div + .item-con{max-height: 1000px;}
#container.qBoard ul.board-list input[type=checkbox]:checked + div .icon.btn_type:after{content:"remove"}
#container.qBoard ul.board-list input[type=checkbox]:checked + div{}
#container.qBoard ul.board-list li .tabName{width:20px; height:22px; font-size: 12px; background-color:#dcebf6;  color:#444444; /* padding:2px 3px; */ /* border:1px solid #82ddff; */ margin-right: 8px; font-weight: bold;}
#container.qBoard ul.board-list li .tabName{display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center; align-items: center; -ms-align-items: center; -webkit-align-items: center; }
#container.qBoard ul.board-list li .question{font-size: 13px; color:#666666; display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: calc(100% - 110px); vertical-align: middle; align-self: center; cursor: pointer;}
#container.qBoard ul.board-list li .item-top{ position: relative; width:100%; min-height: 36px; /* background-color:#f0f5f9; */ display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; }
#container.qBoard ul.board-list li .item-con{max-height: 0; overflow: hidden; -webkit-transition: max-height 0.2s ease-in-out; transition: max-height 0.2s ease-in-out;}
#container.qBoard ul.board-list li .icon{display: inline-block; position: absolute; right: 0; bottom:9px; font-size: 18px; color: #bcc4ce;}
#container.qBoard ul.board-list li .icon.btn_type:after{content:"add"}
#container.qBoard ul.board-list li .answer{width:calc(100% - 38px); padding :5px 10px 8px 28px; font-size: 13px; color:#666666; line-height: 23px; }
#container.qBoard ul.board-list li:last-child {border-bottom: none; margin-bottom: 10px;}
#container.qBoard ul.board-list li .admin_btns{position:relative; float:left; width: 100%; padding:0px; margin-bottom: 8px;}
#container.qBoard ul.board-list li .admin_btns{display: flex; display: -ms-flex; display: -webkit-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: flex-end; -ms-justify-content: flex-end; -webkit-justify-content: flex-end; }
#container.qBoard ul.board-list li .admin_btns .btn_type{position:relative; width: 46px; height: 22px; display: inline-block;  font-size: 12px; text-align: center; line-height: 24px; float: left;}
#container.qBoard ul.board-list li .admin_btns .btn_type.btn_del{color: #e60012; background-color: #ffcdcd;  border: 1px solid #c60000; margin: 0px;}
#container.qBoard ul.board-list li .admin_btns .btn_type.btn_edit{color: #666666; background-color: #e2e2e2; border: 1px solid #999999; margin: 0px 10px 0 0;}
#container.qBoard ul.board-list:last-child { margin-bottom: 10px;}

#container.board-com{height: calc(100% - 65px); background: #f3f3f3}
#container.board-com .wrap{height: 100%;}
#container.board-com .top_btns{position:relative; display:inline-block; width: calc(100% - 20px); margin: 12px 10px 8px 10px; float:left;}
#container.board-com .top_btns + .board-com-head{margin: 0px 10px 0px 10px;} 
#container.board-com .top_btns + .board-com-head + .board-com-list{ height: calc(100% - 103px);}
#container.board-com .top_btns .btn_type{width: 95px; height: 35px; background-color: #4bbeff; border-radius: 6px; color: #ffffff; font-size: 15px; float: right; font-weight: bold; display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.board-com .board-com-head .no{width: 10%}
#container.board-com .board-com-head .title{width: 33%}
#container.board-com .board-com-head .writer{width: 20%}
#container.board-com .board-com-head .date{width: 22%}
#container.board-com .board-com-head .read{width: 15%}
#container.board-com .board-com-head{position: relative; display: inline-block;  width: calc(100% - 20px); margin: 12px 10px 0px 10px; height: 36px; float: left; background-color: #ffffff; border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid #dddddd; box-sizing: border-box;}
#container.board-com .board-com-head > div{height:28px; font-size: 16px; font-weight: bold; padding: 6px 0px 0px 0px; color: #00a3ff !important; border-bottom: 1px solid #00a3ff; float:left;}
#container.board-com .board-com-head > div{display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; align-items: center; -ms-align-items: center; -webkit-align-items: center; justify-content: center; -ms-justify-content: center; -webkit-justify-content: center;}
#container.board-com .board-com-list{position: relative; height: calc(100% - 48px); width: 100%; overflow-y: auto; float:left; }
#container.board-com .board-com-list table{position: relative; float: left;  width: calc(100% - 20px); margin: 0px 10px 10px 10px; padding-bottom: 8px; background-color: #ffffff; border: 1px solid #dddddd; border-top:none; border-radius: 4px; box-sizing: border-box;float: left; table-layout: fixed;  border-collapse: collapse;}
#container.board-com .board-com-list table tbody tr{width:100%; height: 50px;}
#container.board-com .board-com-list table tbody td{padding:0 2px; min-height: 36px; font-size:15px; color: #666666; text-align: center; }
#container.board-com .board-com-list table td.title{overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
#container.board-com .board-com-list table tbody tr.undefined td{ color: #ff0000; font-size:16px; text-align: center;}