@charset "utf-8";


/* ******************************** company search ******************************** */
/* -------------------- media ----------------------------- */
@media all and (max-width: 360px) {

}
@media all and (min-width: 361px) and (max-width: 414px) {
 
}

@media all and (min-width: 414px) and (max-width: 588px) {
  
}

#main_contents{background-color: #fff;}
/* ============================ 게시판 공지 사항  ============================ */
#scheduleManage_wrap{position: relative; left: 0; top: 0; padding:40px 20px 50px 20px; min-width: 862px; display: inline-block;}
/* #scheduleManage_wrap .container .con{display: flex; display: -ms-flex; display: -webkit-flex; flex-direction: row; width: 100%}}
#scheduleManage_wrap .con .row.left{margin-right: 12px; width: 540px; display: inline-block;}
#scheduleManage_wrap .con .row.right{width: 100%; display: flex; display: -ms-flex; display: -webkit-flex; flex-direction: column;} */
#scheduleManage_wrap .container .con{width: 100%}
#scheduleManage_wrap .con .row.left{margin-right: 12px; width: 540px; display: inline-block; float:left}
#scheduleManage_wrap .con .row.right{width: calc(100% - 552px);  float:left;}
#scheduleManage_wrap .con #fullcalender{width: 540px; min-height: 640px;}

#scheduleManage_wrap .select_box{margin-bottom: 4px}
#scheduleManage_wrap .select_box select {color:#34b6f3; font-size: 13px; font-weight:bold; background-color: #fff; border:1px solid #34b6f3; height: 30px; width: 100%;  padding: 0px; vertical-align: middle; outline: none;}

#scheduleManage_wrap .schedule_list table{table-layout: fixed; width: 100%; border-collapse: collapse;}
#scheduleManage_wrap .schedule_list{position: relative; width: 100%; height: 480px; /* height: calc(100% - 124px);  */display: inline-block; overflow-y: auto; overflow-x: hidden;}
#scheduleManage_wrap .schedule_list tbody tr{height: 43px;}
#scheduleManage_wrap .schedule_list tr, .schedule_list th, .schedule_list td {margin: 0; padding: 0; border: 0;}
#scheduleManage_wrap .schedule_list table tr th{background-color: #e4e4e4; color:#333333; font-size: 13px; height: 37px; text-align: center; border:1px solid #e2e2e2;}


#scheduleManage_wrap .schedule_list table .chk_area{text-align:center; }
#scheduleManage_wrap .schedule_list table input{width: 14px; height: 14px; vertical-align: middle; border: 1px solid #d5d5d5;}
#scheduleManage_wrap .schedule_list table tr td.date{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#999999;}
#scheduleManage_wrap .schedule_list table tr td.type{ word-wrap: break-word; color:#5b5b5b;}
#scheduleManage_wrap .schedule_list table tr td.schedule{word-wrap: break-word; color:#5b5b5b;}
#scheduleManage_wrap .schedule_list table tr td{font-size: 13px; font-weight: bold; min-height: 44px; /* padding:0 3px; */ color:#666666; text-align: center; border-bottom: 1px solid #ebf2f5}
#scheduleManage_wrap .schedule_list table tr td:first-child{border-left:1px solid #d2d2d2;}
#scheduleManage_wrap .schedule_list table tr td:last-child{border-right:1px solid #d2d2d2;}
#scheduleManage_wrap .schedule_list table tr:last-child td{border-bottom: 1px solid #d2d2d2;}
#scheduleManage_wrap .schedule_list table tr.holiday td{color:#ff0000}
#scheduleManage_wrap #page-selection{ min-width: 323px;}

#scheduleManage_wrap .btn_group{margin-top:27px; float:left; width:100%; height:40px;
display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; 
align-items: center; -ms-align-items: center; -webkit-align-items: center;
justify-content:flex-end; -ms-justify-content:flex-end; -webkit-justify-content:flex-end; }
#scheduleManage_wrap .btn_group div{width: 86px; display: inline-block; margin-left: 5px; }
#scheduleManage_wrap .btn_group div .btn_type{width:100%; height: 46px; font-size: 13px; border-radius:8px; display: inline-flex; display: -ms-inline-flex; display: -webkit-inline-flex; 
align-items: center; -ms-align-items: center; -webkit-align-items: center;
justify-content: center; -ms-justify-content: center; -webkit-justify-content: center; }
/* #scheduleManage_wrap .btn_group div:nth-child(1) .btn_type{background-color:#d4ecf7; color:#00acff; border: 1px solid #00acff !important;}
#scheduleManage_wrap .btn_group div:nth-child(2) .btn_type{margin-left: 5px; background-color:#dae9f8; color:#00acff; border: 1px solid #00acff !important;}
#scheduleManage_wrap .btn_group div:nth-child(3) .btn_type{margin-left: 5px; background-color:#fff2f2; color:#ff0000; border: 1px solid #fe7d7d !important;} */

#scheduleManage_wrap .btn_group div:nth-child(1) .btn_type{background-color:#1088d4; color:#fff; border: 1px solid #1088d4 !important;}
#scheduleManage_wrap .btn_group div:nth-child(2) .btn_type{background-color:#7c9dbc; color:#fff; border: 1px solid #7c9dbc !important;}
#scheduleManage_wrap .btn_group div:nth-child(3) .btn_type{ background-color:#adb7c0; color:#fff; border: 1px solid #adb7c0 !important;}

#scheduleManage_wrap .btn_group.single div:nth-child(1) .btn_type{background-color:#4698b9; color:#fff; border: 1px solid #4698b9 !important;}